/* Fonts */
.cinzel {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}

h1, h2 {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

p {
    white-space: pre-wrap;
}

/* Dropdown */
.search-wrapper { 
    position: relative;
    width: 300px;
}
#results { 
    position: absolute;
    width: 100%; 
    background: white;
    border: 1px solid #ccc;
    list-style: none; 
    margin: 0;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
}
#results li button {
    width: 100%;
    text-align: left;
    padding: 8px 12px;
    border: none;
    background: none;
    cursor: pointer;
}
#results li button:hover {
    background: #f0f0f0;
}

/* Popup overlay */
.overlay {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}
.overlay.active { 
    display: flex;
}
.popup {
    background: white;
    padding: 24px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    height: 70%;
    overflow-y: scroll;
}
.popup button {
    margin-top: 12px;
    padding: 5px;
}