body {
    background-color: #C4956A;
}

h1 {
    /* Font */
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

#itemList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: fit-content;
    height: 100%;
    overflow-y: scroll;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}